body {
    font-family: 'Inter', sans-serif;
    padding-left: 2em;
}

.name {
    margin-bottom: 10px;
    font-family: "InterDisplay", sans-serif;
    font-weight: 700;
}

h1 {
    font-size: 6rem;
}

.links {
    font-size: 5rem;
    line-height: 1.4em;
    font-family: "InterDisplay", sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.links a {
    left: 0;
    -webkit-transition: left 0.5s ease-in-out;
    -moz-transition: left 0.5s ease-in-out;
    -o-transition: left 0.5s ease-in-out;
    transition: left 0.5s ease-in-out;

    position: relative;
}

.links a:hover {
    left: 10px;
    padding-left: -10px;
    color: #222;
}

#content {
    padding-left: 2em;
    margin: 8px;
}

#backgroundSvg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}