body {
    font-family: 'Roboto', sans-serif;
    padding-left: 2em;
}

.name {
    margin-bottom: 10px;
}

h1 {
    font-size: 6em;
}

.links {
    font-size: 5em;
    line-height: 1.5em;
}

a {
    text-decoration: none;
    color: black;
}

.links a {
    left: 0;
    -webkit-transition: left 0.5s ease-in-out;*/
    -moz-transition: left 0.5s ease-in-out;
    -o-transition: left 0.5s ease-in-out;
    transition: left 0.5s ease-in-out;

    position: relative;
}

.links a:hover {
    left: 10px;
    padding-left: -10px;
    color: #222;
}
