body {
    background: #fcfcfa;
    font-family: "Georgia";
}

body, svg {
    margin-left: 0px;
    margin-right: 0px;
}


body svg {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

p.aside {
    margin-left: 25%;
    margin-right: 25%;
    font-size: 1.3em;
}

.axis_noLine {
    stroke-width: 0px;
}

text {
    font-size: 1.3em;
    font-family: "Georgia"
}

.title_default text {
    font-size: 0.4em;
}

body {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

table, #number {
    margin-left: 10%;
    margin-right: 10%;
    display: block;
}

.left {
    margin-left: 10%;
}

.center {

}

.right {
    margin-right: 10%;
}

.question {
    text-align: center;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
}

.guess {
    text-align: center;
}

.answerNumber {
    text-align: center;
    color: #8C1217;
}

#headerTable tbody {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.dropCap {
    float: left;
    font-size: 3.6em;
    padding-right: 8px;
    color: #8C1217;
}

#intro {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    font-size: 1.2em;
}

.answer {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2em;
    width: 70%;
}

.answerButton {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 300px;

    margin-top: 50px;
    margin-bottom: 50px;

    font-size: 2em;
}

.answerButton:hover {
    text-decoration: underline;
}
