.Rice {
    fill: #ffffcc;
}
.Cheese {
    fill: #FDFB87;
}
.Lettuce {
    fill:  #6fc94c;
}
.Sour-Cream {
    fill:  #ffffe6;
}
.Chicken {
    fill:  #ffd480;
}
.Fresh-Tomato-Salsa, .Salsa{
    fill: #FE4328;
}
.Black-Beans {
    fill: #460F00;
}
.Guacamole {
    fill: #9BCA49;
}
.Fajita-Vegetables {
    fill: #5D5C00;
}
.Tomatillo-Red-Chili-Salsa{
    fill: #8E3813;
}
.Steak {
    fill: #905E36;
}
.Pinto-Beans {
    fill: #AA724A;
}
.Tomatillo-Green-Chili-Salsa {
    fill: #654208;
}
.Barbacoa {
    fill: #3C0F01;
}
.Carnitas {
    fill: #C49A79;
}
