
body {
  background: #fcfcfa;
}

body, svg {
    margin-left: 0px;
    margin-right: 0px;
}

.stroke {
  fill: none;
  stroke: #000;
  stroke-width: 3px;
}

.fill {
  fill: #fff;
}

.graticule {
  fill: none;
  stroke: #777;
  stroke-width: .5px;
  stroke-opacity: .5;
}

.land {
  fill: #222;
}

.state {
    fill: #222;
    stroke: #fff;
    stroke-width: .5px;
}

.boundary {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
}

.aside {
    font-size: 1.3em;
}

#label1 table {
    width: 100%
}

#label1 td {
    text-align: center;
}

body svg {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* d3 */

.point {
    fill: #891516;
    stroke: #E04137;
}

.axis .domain {
    stroke: #fcfcfa;
}

.axis text {
    font-size: 1.5em;
    font-family: "Helvetica", sans-serif;
    font-weight: bold;
}

.axis .tick {
    stroke-width: 3px;
}
